@import "reset";

@import url("https://fonts.googleapis.com/css?family=Dancing+Script:500|Raleway:700&display=swap");

/* Specific */
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  color: #607d8b;
  /* #866053 ; #607d8b ; #af6800 ; #007368 ; #4e3182 ; #781b88 ; #82002c */
  font-size: 1.5rem;
  background-color: #1b1919;
}

p {
  font-family: "Dancing Script", cursive;
}
